<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.granne">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Granne">
        <activity
            android:name=".activities.chat.ChatRoomActivity"
            android:exported="false" />
        <activity
            android:name=".activities.chat.ChatListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.userAcc.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChatActivity"
            android:exported="true" />
        <activity
            android:name=".activities.userAcc.FindMatchActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".activities.userAcc.CreateAccountActivity"
            android:exported="true" />
        <activity
            android:name=".activities.userAcc.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>